# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
untitled4/build/spotipytest/warnspotipytest.txt
untitled4/build/spotipytest/out00-Analysis.toc
untitled4/build/spotipytest/out00-EXE.toc
untitled4/build/spotipytest/out00-PKG.pkg
untitled4/build/spotipytest/base_library.zip
untitled4/build/spotipytest/spotipytest.exe.manifest
untitled4/build/spotipytest/out00-PYZ.toc
untitled4/build/spotipytest/out00-PYZ.pyz
untitled4/build/spotipytest/out00-PKG.toc
untitled4/api.ini
untitled4/.cache-119986897
untitled4/dist/.cache-119986897
